.card {
  width: auto;
  height: auto;
  background-color: #282c34;
  box-shadow: 0 2px 4px 0 rgb(245, 220, 172);
  transition: 0.3s;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgb(245, 220, 172);
}

.card-body {
  padding: 2px 16px;
}

img {
  width: auto;
  height: 30vh;
  margin-top: 14px;
  border-radius: 5px;
}

p {
  font-size: 14px;
  max-width: 22vw;
  margin-left: auto;
  margin-right: auto;
  color: #fafafa;
}

h4 {
  font-size: 18px;
  color: #fafafa;
}

@media only screen and (max-width: 768px) {
  p {
    max-width: 54vw;
    margin-left: auto;
    margin-right: auto;
  }
}
