/* table  */
.tab {
  background-color: #3b3d42;
  text-align: center;
}

.tabactive {
  width: auto;
  height: 5vh;
}

ul.tabnav {
  margin: 0;
  padding: 0;
  font: bold 14px sans-serif;
}

ul.tabnav li {
  display: inline-block;
}

img {
  width: auto;
  height: 30vh;
  margin-top: 14px;
  border-radius: 5px;
}

.fire {
  width: auto;
  height: auto;
  box-shadow: 0 1px 0 0 rgb(245, 172, 172);
}

.water {
  width: auto;
  height: auto;
  box-shadow: 0 1px 0 0 rgb(172, 183, 245);
}

.earth {
  width: auto;
  height: auto;
  box-shadow: 0 1px 0 0 rgb(121, 90, 69);
}

.wind {
  width: auto;
  height: auto;
  box-shadow: 0 1px 0 0 rgb(181, 245, 172);
}

.light {
  width: auto;
  height: auto;
  box-shadow: 0 1px 0 0 rgb(244, 245, 172);
}

.dark {
  width: auto;
  height: auto;
  box-shadow: 0 1px 0 0 rgb(245, 172, 245);
}

@media only screen and (max-width: 768px) {
}
